{% extends 'jewelry/base.html' %}
{% load static %}

{% block body_block %}
<div style="background-color: grey; ">{% include 'jewelry/header2.html' %}</div>
{% if messages %}
    <div class="row">
        <div class="message-box">
            {% for message in messages%}
            <h4>{{message}}</h4>
            {% endfor %}
        </div>
    </div>
{% endif %}
<section class="section-form">
            <div class="row">
                <h2>New Item</h2>
            </div>
            <div class="row">
                <form method="POST" class="contact-form">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Enter name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="item_id">Item id</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="item_id" id="item_id" placeholder="Enter item's id" required>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col span-1-of-3">
                            <label for="weight">Weight</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="weight" id="weight" placeholder="Enter weight">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="lending_amount">Lending Amount</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="lending_amount" id="lending_amount" placeholder="Enter lending amount" required>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col span-1-of-3">
                            <label for="intrest">Intrest</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="intrest" id="intrest" placeholder="Enter Intrest">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="remarks">Remarks</label>
                        </div>
                        <div class="col span-2-of-3">
                            <textarea name="remarks" id="remarks" rows="10" required></textarea>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Save Item">
                        </div>
                    </div>

                </form>

            </div>
        </section>
{% endblock %}